.toggleContainer {
  margin-bottom: 20px;
}

.toggleButton {
  padding: 10px 20px;
  background-color: #e0e0e0;
  color: #000000;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-weight: normal;
}

.toggleButton:first-child {
  margin-right: 10px;
}

.toggleButtonActive {
  composes: toggleButton;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  font-weight: bold;
}
